/**
Mauricio Ribeiro's Github style ;)
http://mauricioribeiro.github.io/pyNeural
**/
html,body{
	margin: 0;
	padding: 0;
	background: #fff; /* binary color LOL */
}
*{
	font-family: 'Helvetica';
	color: #333
}
a{
	text-decoration: none
}

#logo{
	margin: 30px auto 10px;
}